{% extends 'tienda/cozastore/baseDetallesProducto.html' %}

{% block title %}
Mi Carrito
{% endblock %}

{% block lineaNavegacion %}
<div class="container">
  <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
    <a href="{% url 'tienda' %}" class="stext-109 cl8 hov-cl1 trans-04">
      Inicio
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>

    <a href="{% url 'carro:carrito' %}" class="stext-109 cl8 hov-cl1 trans-04">
      Carrito
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>
  </div>
</div>
{% endblock %}

{% block detallesProducto %}
<!-- Shoping Cart -->
<form class="bg0 p-t-75 p-b-85">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
        <div class="m-l-25 m-r--38 m-lr-0-xl">
          <div class="wrap-table-shopping-cart">
            <table class="table-shopping-cart">
              <tr class="table_head">
                <th class="column-1">Producto</th>
                <th class="column-2"></th>
                <th class="column-3">Precio</th>
                <th class="column-4">Cantidad</th>
                <th class="column-5">Total</th>
              </tr>

              {% if data_producto %}
              {% for _, value in data_producto.items %}
              <tr class="table_row">
                <td class="column-1">
                  <a href="{% url 'carro:eliminar' value.id %}">
                    <div class="how-itemcart1">
                      <img src="{{value.imagen}}" alt="IMG">
                    </div>
                  </a>
                </td>
                <td class="column-2"><a
                    href="{% url 'producto' value.categoria.lower value.id %}">{{value.producto}}</a></td>
                <td class="column-3">$ {{value.precio}}</td>
                <td class="column-4">
                  <div class="wrap-num-product flex-w m-l-auto m-r-0">
                    <a href="{% url 'carro:restar' value.id %}">
                      <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                        <i class="fs-16 zmdi zmdi-minus"></i>
                      </div>
                    </a>

                    <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product2"
                      value="{{value.cantidad}}">

                    <a href="{% url 'carro:sumar' value.id %}">
                      <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                        <i class="fs-16 zmdi zmdi-plus"></i>
                      </div>
                    </a>
                  </div>
                </td>
                <td class="column-5">$ {{value.monto}}</td>
              </tr>
              {% endfor %}
              <tr class="table-row">
                <td colspan="5">
                  <a href="{% url 'carro:limpiar' %}">
                    <div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                      Limpiar Carrito
                    </div>
                  </a>
                </td>
              </tr>
              {% endif %}
            </table>
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
        <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
          <h4 class="mtext-109 cl2 p-b-30">
            Total carrito
          </h4>

          <div class="flex-w flex-t bor12 p-b-13">
            <div class="size-208">
              <span class="stext-110 cl2">
                Subtotal:
              </span>
            </div>

            <div class="size-209">
              <span class="mtext-110 cl2">
                $ {{subtotal}} MXN
              </span>
            </div>
          </div>

          <div class="flex-w flex-t bor12 p-b-13">
            <div class="size-208">
              <span class="stext-110 cl2">
                Envio:
              </span>
            </div>

            <div class="size-209">
              <span class="mtext-110 cl2">
                $ {{costo_envio}} MXN
              </span>
            </div>
          </div>

          <div class="flex-w flex-t p-t-27 p-b-33">
            <div class="size-208">
              <span class="mtext-101 cl2">
                Total:
              </span>
            </div>

            <div class="size-209 p-t-1">
              <span class="mtext-110 cl2">
                $ {{total}} MXN
              </span>
            </div>
          </div>

          <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
            Procesar pago
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}

{% block categoriasFooter %}
<div class="col-sm-6 col-lg-3 p-b-50">
  <h4 class="stext-301 cl0 p-b-30">
    Categorias
  </h4>
  <ul>
    {% for cat in categorias %}
    <li class="p-b-10">
      <a href="{{cat.categoria|lower}}" class="stext-107 cl7 hov-cl1 trans-04">
        {{cat.categoria}}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}