{% extends 'tienda/cozastore/baseDetallesProducto.html' %}

{% block title %}
{{producto}}
{% endblock %}

{% block lineaNavegacion %}
<div class="container">
  <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
    <a href="{% url 'tienda' %}" class="stext-109 cl8 hov-cl1 trans-04">
      Inicio
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>

    <a href="{% url 'categoria' producto.categoria|lower %}" class="stext-109 cl8 hov-cl1 trans-04">
      {{producto.categoria}}
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>

    <span class="stext-109 cl4">
      {{producto.producto}}
    </span>
  </div>
</div>
{% endblock %}

{% block galeriaProducto %}
<div class="item-slick3" data-thumb="{{producto.imagen.url}}">
  <div class="wrap-pic-w pos-relative">
    <img src="{{producto.imagen.url}}" alt="IMG-PRODUCT">

    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{producto.imagen.url}}">
      <i class="fa fa-expand"></i>
    </a>
  </div>
</div>
{% endblock %}

{% block detallesProducto %}
<div class="col-md-6 col-lg-5 p-b-30">
  <div class="p-r-50 p-t-5 p-lr-0-lg">
    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
      {{producto.producto}}
    </h4>

    <span class="mtext-106 cl2">
      $ {{producto.precio}} MXN
    </span>

    <p class="stext-102 cl3 p-t-23">
      {{producto.descripcion}}
    </p>

    <!--  -->
    <div class="p-t-33">
      {% if categoria == 'ropa' %}
      <div class="flex-w flex-r-m p-b-10">
        <div class="size-203 flex-c-m respon6">
          Size
        </div>

        <div class="size-204 respon6-next">
          <div class="rs1-select2 bor8 bg0">
            <select class="js-select2" name="time">
              <option>Choose an option</option>
              <option>Size S</option>
              <option>Size M</option>
              <option>Size L</option>
              <option>Size XL</option>
            </select>
            <div class="dropDownSelect2"></div>
          </div>
        </div>
      </div>

      <div class="flex-w flex-r-m p-b-10">
        <div class="size-203 flex-c-m respon6">
          Color
        </div>

        <div class="size-204 respon6-next">
          <div class="rs1-select2 bor8 bg0">
            <select class="js-select2" name="time">
              <option>Choose an option</option>
              <option>Red</option>
              <option>Blue</option>
              <option>White</option>
              <option>Grey</option>
            </select>
            <div class="dropDownSelect2"></div>
          </div>
        </div>
      </div>
      {%endif %}
      <div class="flex-w flex-r-m p-b-10">
        <div class="size-204 flex-w flex-m respon6-next">
          <div class="wrap-num-product flex-w m-r-20 m-tb-10">
            <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
              <i class="fs-16 zmdi zmdi-minus"></i>
            </div>

            <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">

            <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
              <i class="fs-16 zmdi zmdi-plus"></i>
            </div>
          </div>

          <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
            Añadir al Carrito
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block productosRelacionados %}
{% for pro in productos %}
<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
  <!-- Block2 -->
  <div class="block2">
    <div class="block2-pic hov-img0">
      <img src="{{pro.imagen.url}}" alt="IMG-PRODUCT">

      <a href="{% url 'producto' pro.categoria|lower pro.id %}"
        class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
        Ver
      </a>
    </div>

    <div class="block2-txt flex-w flex-t p-t-14">
      <div class="block2-txt-child1 flex-col-l ">
        <a href="{% url 'producto' pro.categoria|lower pro.id %}"
          class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
          {{pro.producto}}
        </a>

        <span class="stext-105 cl3">
          $ {{pro.precio}} MXN
        </span>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}


{% block categoriasFooter %}
<div class="col-sm-6 col-lg-3 p-b-50">
  <h4 class="stext-301 cl0 p-b-30">
    Categorias
  </h4>
  <ul>
    {% for cat in categorias %}
    <li class="p-b-10">
      <a href="{{cat.categoria|lower}}" class="stext-107 cl7 hov-cl1 trans-04">
        {{cat.categoria}}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}