{% extends "MyWEBI/baseTemplate.html" %}

{% block title %}
Blog
{% endblock %}

{% block content %}
<div class="div-title-cat">
  <h2 class="title-cat">{{categoria}}</h2>
</div>
{% for post in posts %}
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <a href="{{post.imagen.url}}" target="_blank"><img class="intro-img img-fluid mb-3 mb-lg-0 rounded"
          src="{{post.imagen.url}}" alt="Imagen servicio {{post.titulo}}"></a>
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">{{post.titulo}}</span>
        </h2>
        <p class="mb-3">{{post.contenido}}<br><br></p>
        <div class="autor">
          <p>{{post.autor}}</p>
        </div>
        <div class="fechaPub">
          <p>{{post.updated|date:"DATETIME_FORMAT"}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}

<section>
  <div class="categorias">
    <div>
      <h4>Categorias:</h4>
      <ul>
        <li><a href="/blog/">Todo</a></li>
        {% for cat in categorias %}
        <li><a href="{% url 'categoria' cat|lower %}"
            class="{% if request.path|cut:'/blog/categoria/'|cut:'/' == cat|lower %}categoria-selected{% endif %}">{{cat}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% endblock %}