{% load static %}
<header>
  <!-- Header desktop -->
  <div class="container-menu-desktop">
    <!-- Topbar -->
    <div class="top-bar">
      <div class="content-topbar flex-sb-m h-full container">
        <div class="right-top-bar flex-w h-full">
          <a href="#" class="flex-c-m trans-04 p-lr-25">
            Ayuda
          </a>

          <a href="#" class="flex-c-m trans-04 p-lr-25">
            Mi cuenta
          </a>
        </div>
      </div>
    </div>

    <div class="wrap-menu-desktop">
      <nav class="limiter-menu-desktop container">

        <!-- Logo desktop -->
        <a href="{% url 'tienda' %}" class="logo">
          <img src="{% static 'tienda/images/icons/logo-01.png'%}" alt="IMG-LOGO">
        </a>

        <!-- Menu desktop -->
        <div class="menu-desktop">
          <ul class="main-menu">
            <li>
              <a href="{% url 'home' %}">Home</a>
            </li>

            <li>
              <a href="{% url 'servicios' %}">Servicios</a>
            </li>

            <li class="label1" data-label1="hot">
              <a href="{% url 'tienda' %}">Tienda</a>
            </li>

            <li>
              <a href="{% url 'contacto' %}">Contacto</a>
            </li>

            <li>
              <a href="{% url 'blog' %}">Blog</a>
            </li>
          </ul>
        </div>

        <!-- Icon header -->
        <div class="wrap-icon-header flex-w flex-r-m">

          <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart"
            data-notify="{{cantidad_total_productos}}">
            <i class="zmdi zmdi-shopping-cart"></i>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <!-- Header Mobile -->
  <div class="wrap-header-mobile">
    <!-- Logo moblie -->
    <div class="logo-mobile">
      <a href="{% url 'tienda' %}"><img src="{% static 'tienda/images/icons/logo-01.png'%}" alt="IMG-LOGO"></a>
    </div>

    <!-- Icon header -->
    <div class="wrap-icon-header flex-w flex-r-m m-r-15">
      <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart"
        data-notify="{{cantidad_total_productos}}">
        <i class="zmdi zmdi-shopping-cart"></i>
      </div>
    </div>

    <!-- Button show menu -->
    <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </div>
  </div>


  <!-- Menu Mobile -->
  <div class="menu-mobile">
    <ul class="topbar-mobile">

      <li>
        <div class="right-top-bar flex-w h-full">
          <a href="#" class="flex-c-m p-lr-10 trans-04">
            Ayuda
          </a>

          <a href="#" class="flex-c-m p-lr-10 trans-04">
            Mi cuenta
          </a>
        </div>
      </li>
    </ul>

    <ul class="main-menu-m">
      <li>
        <a href="{% url 'home' %}">Home</a>
      </li>

      <li>
        <a href="{% url 'servicios' %}">Servicios</a>
      </li>

      <li class="label1" data-label1="hot">
        <a href="{% url 'tienda'%}">Tienda</a>
      </li>

      <li>
        <a href="{% url 'contacto' %}">Contacto</a>
      </li>

      <li>
        <a href="{% url 'blog' %}">Blog</a>
      </li>
    </ul>
  </div>
</header>

<!--Carrito-->
<div class="wrap-header-cart js-panel-cart">
  <div class="s-full js-hide-cart"></div>

  <div class="header-cart flex-col-l p-l-65 p-r-25">
    <div class="header-cart-title flex-w flex-sb-m p-b-8">
      <span class="mtext-103 cl2">
        Mi Carrito
      </span>

      <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
        <i class="zmdi zmdi-close"></i>
      </div>
    </div>

    <div class="header-cart-content flex-w js-pscroll">
      <ul class="header-cart-wrapitem w-full">
        {% if data_producto %}
        {% for _, value in data_producto.items %}
        <li class="header-cart-item flex-w flex-t m-b-12">
          <div class="header-cart-item-img">
            <img src="{{value.imagen}}" alt="IMG">
          </div>

          <div class="header-cart-item-txt p-t-8">
            <a href="{% url 'producto' value.categoria.lower value.id %}"
              class="header-cart-item-name m-b-18 hov-cl1 trans-04">
              {{value.producto}}
            </a>

            <span class="header-cart-item-info">
              {{value.cantidad}} x ${{value.precio}} MXN
            </span>
          </div>
        </li>
        {% endfor %}
        {% endif %}
      </ul>

      <div class="w-full">
        <div class="header-cart-total w-full p-tb-40">
          Total: ${{subtotal}} MXN
        </div>

        <div class="header-cart-buttons flex-w w-full">
          <a href="{% url 'carro:carrito' %}"
            class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
            Ver carrito
          </a>

          <a href="{% url 'carro:carrito' %}"
            class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
            Pagar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>